.admin-chat-container {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid rgb(199, 198, 198);
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  height: 600px; /* Adjusted height for the chat container */
  position: relative;
}

.admin-chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 60px; /* To accommodate the input box */
}

.admin-input {
  display: flex;
  align-items: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box; /* Ensures padding is included in element's total width and height */
}

.admin-input form {
  display: flex;
  width: 100%;
}

.admin-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px; /* Rounded corners for the left side */
  margin-right: -1px; /* Remove the gap between input and button */
}

.admin-input button {
  background-color: #007BFF;
  color: white;
  border: 1px solid #007BFF;
  padding: 10px;
  border-radius: 0 5px 5px 0; /* Rounded corners for the right side */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-input button:hover {
  background-color: #0056B3;
}

.received-message {
  align-self: flex-start !important;
  clear: both;
  white-space: nowrap;
}

.sent-message {
  align-self: flex-end !important;
  clear: both;
  white-space: nowrap;
}

